In [1]:
# load the necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# This imports the client
from basketball_reference_web_scraper import client

In [2]:
#Get the selected year for each data
selected_year = list(reversed(range(1950,2022)))

In [3]:
#Get data for all NBA players
def load_data(year):
    data = client.players_season_totals(season_end_year=year)
    nba = pd.DataFrame(data=data, index=None)
    return nba

In [137]:
#NBA players statistics per year
nba_data = load_data(2021)
nba_data.head(10)

,slug,name,positions,age,team,games_played,games_started,minutes_played,made_field_goals,attempted_field_goals,...,made_free_throws,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points
0,achiupr01,Precious Achiuwa,[Position.POWER_FORWARD],21,Team.MIAMI_HEAT,61,4,737,124,228,...,56,110,73,135,29,20,28,43,91,304
1,adamsja01,Jaylen Adams,[Position.POINT_GUARD],24,Team.MILWAUKEE_BUCKS,7,0,18,1,8,...,0,0,0,3,2,0,0,0,1,2
2,adamsst01,Steven Adams,[Position.CENTER],27,Team.NEW_ORLEANS_PELICANS,58,58,1605,189,308,...,60,135,213,301,111,54,38,78,113,438
3,adebaba01,Bam Adebayo,[Position.CENTER],23,Team.MIAMI_HEAT,64,64,2143,456,800,...,283,354,142,431,346,75,66,169,145,1197
4,aldrila01,LaMarcus Aldridge,[Position.CENTER],35,Team.SAN_ANTONIO_SPURS,21,18,544,115,248,...,31,37,17,77,36,8,18,20,36,288
5,aldrila01,LaMarcus Aldridge,[Position.CENTER],35,Team.BROOKLYN_NETS,5,5,130,25,48,...,10,10,2,22,13,3,11,7,11,64
6,alexaty01,Ty-Shon Alexander,[Position.SHOOTING_GUARD],22,Team.PHOENIX_SUNS,15,0,47,3,12,...,1,2,2,8,6,0,1,3,2,9
7,alexani01,Nickeil Alexander-Walker,[Position.SHOOTING_GUARD],22,Team.NEW_ORLEANS_PELICANS,46,13,1007,192,458,...,48,66,13,131,102,47,22,69,88,508
8,allengr01,Grayson Allen,[Position.SHOOTING_GUARD],25,Team.MEMPHIS_GRIZZLIES,50,38,1259,173,414,...,79,91,19,141,108,46,8,48,71,532
9,allenja01,Jarrett Allen,[Position.CENTER],22,Team.BROOKLYN_NETS,12,5,320,44,65,...,46,61,38,87,20,7,19,22,21,134

In [138]:
#Number of Rows
nba_data.shape[0]

626

In [139]:
#Look at columns
nba_data.columns

Index(['slug', 'name', 'positions', 'age', 'team', 'games_played',
       'games_started', 'minutes_played', 'made_field_goals',
       'attempted_field_goals', 'made_three_point_field_goals',
       'attempted_three_point_field_goals', 'made_free_throws',
       'attempted_free_throws', 'offensive_rebounds', 'defensive_rebounds',
       'assists', 'steals', 'blocks', 'turnovers', 'personal_fouls', 'points'],
      dtype='object')

In [140]:
nba_data.dtypes

slug                                 object
name                                 object
positions                            object
age                                   int64
team                                 object
games_played                          int64
games_started                         int64
minutes_played                        int64
made_field_goals                      int64
attempted_field_goals                 int64
made_three_point_field_goals          int64
attempted_three_point_field_goals     int64
made_free_throws                      int64
attempted_free_throws                 int64
offensive_rebounds                    int64
defensive_rebounds                    int64
assists                               int64
steals                                int64
blocks                                int64
turnovers                             int64
personal_fouls                        int64
points                                int64
dtype: object

In [141]:
# Clean up Positions Column
positions_clean = nba_data['positions'].apply(lambda x: ''.join(map(str, x))).str.split(".", n = 1, expand = True)
nba_data['position'] = positions_clean[1]
nba_data.drop(columns =['positions'], inplace = True)

In [142]:
# Clean up team Column
a=lambda x: str(x).split('.')
team_clean = nba_data['team'].apply(a)
team_clean = team_clean.apply(lambda x: ','.join(map(str, x))).str.split(",", n = 1, expand = True)
nba_data['nba_team'] = team_clean[1]
nba_data.drop(columns =['team'], inplace = True)
nba_data.head()

,slug,name,age,games_played,games_started,minutes_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,attempted_three_point_field_goals,...,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points,position,nba_team
0,achiupr01,Precious Achiuwa,21,61,4,737,124,228,0,1,...,73,135,29,20,28,43,91,304,POWER_FORWARD,MIAMI_HEAT
1,adamsja01,Jaylen Adams,24,7,0,18,1,8,0,2,...,0,3,2,0,0,0,1,2,POINT_GUARD,MILWAUKEE_BUCKS
2,adamsst01,Steven Adams,27,58,58,1605,189,308,0,3,...,213,301,111,54,38,78,113,438,CENTER,NEW_ORLEANS_PELICANS
3,adebaba01,Bam Adebayo,23,64,64,2143,456,800,2,8,...,142,431,346,75,66,169,145,1197,CENTER,MIAMI_HEAT
4,aldrila01,LaMarcus Aldridge,35,21,18,544,115,248,27,75,...,17,77,36,8,18,20,36,288,CENTER,SAN_ANTONIO_SPURS

In [143]:
# Duplicate rows due to this player changing teams
nba_data[nba_data['name'] == 'Gary Harris']

,slug,name,age,games_played,games_started,minutes_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,attempted_three_point_field_goals,...,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points,position,nba_team
236,harriga01,Gary Harris,26,19,19,581,69,156,24,75,...,13,34,32,17,4,14,37,184,SHOOTING_GUARD,DENVER_NUGGETS
237,harriga01,Gary Harris,26,20,19,499,69,189,24,66,...,8,24,46,11,7,23,34,204,SHOOTING_GUARD,ORLANDO_MAGIC

In [162]:
from pandasql import sqldf

query = """
        SELECT
            slug,
            name,
            position,
            SUM(games_played) AS games_played,
            SUM(games_started) AS games_started,
            SUM(minutes_played) AS minutes_played,
            SUM(made_field_goals) AS made_field_goals,
            SUM(attempted_field_goals) AS attempted_field_goals,
            SUM(made_three_point_field_goals) AS made_three_point_field_goals,
            SUM(attempted_three_point_field_goals) AS attempted_three_point_field_goals,
            SUM(made_free_throws) AS made_free_throws,
            SUM(attempted_free_throws) AS attempted_free_throws,
            SUM(offensive_rebounds) AS offensive_rebounds,
            SUM(defensive_rebounds) AS defensive_rebounds,
            SUM(assists) AS assists,
            SUM(steals) AS steals,
            SUM(blocks) AS blocks,
            SUM(turnovers) AS turnovers,
            SUM(personal_fouls) AS personal_fouls,
            SUM(points) AS points
        FROM nba_data
        GROUP BY 1,2,3

"""



nba_data_cleaned = sqldf(query, locals())

In [163]:
nba_data_cleaned.head()

,slug,name,position,games_played,games_started,minutes_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,attempted_three_point_field_goals,made_free_throws,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points
0,achiupr01,Precious Achiuwa,POWER_FORWARD,61,4,737,124,228,0,1,56,110,73,135,29,20,28,43,91,304
1,adamsja01,Jaylen Adams,POINT_GUARD,7,0,18,1,8,0,2,0,0,0,3,2,0,0,0,1,2
2,adamsst01,Steven Adams,CENTER,58,58,1605,189,308,0,3,60,135,213,301,111,54,38,78,113,438
3,adebaba01,Bam Adebayo,CENTER,64,64,2143,456,800,2,8,283,354,142,431,346,75,66,169,145,1197
4,aldrila01,LaMarcus Aldridge,CENTER,26,23,674,140,296,31,80,41,47,19,99,49,11,29,27,47,352